- form_class = "space-y-4"
- label_class = "block mb-1"
- input_class = "w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline"
- select_class = "w-full h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline"
- default_select_option = I18n.t("admin.law_proposals.form.select_area") 
- cities = [default_select_option, "Waraszawa", "Wrocław"]
- select_collection = cities.zip(cities)
- select_options = options_from_collection_for_select(select_collection, 'first', 'last', { selected: default_select_option, disabled: default_select_option })

= form_for [:admin, law_proposal] do |f|
  = f.label :name, class: label_class
  = f.text_field :name, class: input_class

  = f.label :description, class: label_class
  = f.text_field :description, class: input_class

  = f.label :url, class: label_class
  = f.text_field :url, class: input_class

  = f.label :important_points, class: label_class
  = f.text_field :important_points, class: input_class

  = f.label :tags, class: label_class
  = f.text_field :tags, class: input_class

  = f.label :area, class: label_class
  .relative.inline-block.w-full
    = f.text_field :area, class: input_class, required: true, list: "area-list", placeholder: default_select_option
    %datalist#area-list
      = select_options
    .absolute.inset-y-0.right-0.flex.items-center.px-2.pointer-events-none
      %svg.w-4.h-4.fill-current{:viewbox => "0 0 20 20"}
        %path{"clip-rule" => "evenodd", :d => "M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z", "fill-rule" => "evenodd"}

  = f.submit t(".save"), class: "mdc-button mdc-button--raised mt-3"
  = cancel_link("mdc-button mt-3")
